In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import plotly.express as px
#pio.renderers.default = 'browser'
import plotly.io as pio 
import plotly.graph_objs as gobj
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot

In [ ]:
df = pd.read_csv(r'C:\Users\Admin\Downloads\Telegram Desktop\brasil_1 (2).csv')
df1 = pd.read_csv(r'C:\Users\Admin\Downloads\Telegram Desktop\brasil_2.csv')

In [ ]:
df.head()

,property_type,place_with_parent_names,region,lat-lon,area_m2,price_usd
0,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6443051,-35.7088142",110.0,"$187,230.85"
1,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6430934,-35.70484",65.0,"$81,133.37"
2,house,|Brasil|Alagoas|Maceió|,Northeast,"-9.6227033,-35.7297953",211.0,"$154,465.45"
3,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.622837,-35.719556",99.0,"$146,013.20"
4,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.654955,-35.700227",55.0,"$101,416.71"

In [ ]:
df1.head()

,property_type,state,region,lat,lon,area_m2,price_brl
0,apartment,Pernambuco,Northeast,-8.134204,-34.906326,72.0,414222.98
1,apartment,Pernambuco,Northeast,-8.126664,-34.903924,136.0,848408.53
2,apartment,Pernambuco,Northeast,-8.125550,-34.907601,75.0,299438.28
3,apartment,Pernambuco,Northeast,-8.120249,-34.895920,187.0,848408.53
4,apartment,Pernambuco,Northeast,-8.142666,-34.906906,80.0,464129.36

In [ ]:
df.place_with_parent_names.value_counts()

place_with_parent_names
|Brasil|Paraná|Londrina|                                  813
|Brasil|Minas Gerais|Belo Horizonte|                      430
|Brasil|Minas Gerais|Belo Horizonte|Buritis|              405
|Brasil|Bahia|Salvador|Pituba|                            315
|Brasil|Bahia|Salvador|                                   314
                                                         ...
|Brasil|Espírito Santo|Guarapari|Santa Mônica|              1
|Brasil|Espírito Santo|Guarapari|Enseada Azul|              1
|Brasil|Espírito Santo|Vila Velha|Barra do Jucu|            1
|Brasil|Espírito Santo|Vila Velha|Jockey de Itaparica|      1
|Brasil|Pernambuco|Recife|Boa Vista|                        1
Name: count, Length: 565, dtype: int64

In [ ]:
df1.state.value_counts()

state
Rio Grande do Sul      3000
Rio de Janeiro         3000
Santa Catarina         3000
São Paulo              3000
Pernambuco              372
Rio Grande do Norte     342
Sergipe                  83
Piauí                    29
Rondônia                  5
Tocantins                 2
Name: count, dtype: int64

In [ ]:
df.isnull().sum()

In [ ]:
df.shape

In [ ]:
df1.isnull().sum()

In [ ]:
df.drop('lat-lon',inplace= True,axis=1)

In [ ]:
df.columns

In [ ]:
df.isnull().sum()

In [ ]:
df.head()

# Creating new columna from place_with_parent_names

In [ ]:
df[['Country','state','city','Street']] = df['place_with_parent_names'].str.strip('|').str.split('|', expand=True)

In [ ]:
df.drop(['place_with_parent_names','Country','city','Street'], inplace=True,axis=1)

In [ ]:
df.head()

In [ ]:
df['price_usd'] = np.array(df['price_usd'])

# Removing String Characters from Data

In [ ]:
1USD = 6.19 reais
df['price_usd'] = df['price_usd'].str.replace(r'[$,]','' ,regex=True)

In [ ]:
df['price_usd']

In [ ]:
df['price_usd'] =(df['price_usd']).astype(float)

# 1 US dollar to Brazilian reais

In [ ]:
df['price_usd'] = (df['price_usd'] * 6.19)

In [ ]:
df['price_usd']

# Checking for Duplicates

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df1.duplicated().sum()

In [ ]:
df1.drop_duplicates(inplace=True)

In [ ]:
df.describe()

In [ ]:
 df1.drop(['lat','lon'],axis=1,inplace=True)

In [ ]:
df1.columns

In [ ]:
df= df.rename(columns={'price_usd':'price_brl'})

In [ ]:
df.columns

In [ ]:
newdf= pd.concat([df,df1])

In [ ]:
newdf

# Checking for null values

In [ ]:
newdf.isnull().sum()

In [ ]:
newdf['area_m2'].median()

Filling null values with median

In [ ]:
newdf['area_m2'].fillna(105.0,inplace= True)

In [ ]:
newdf.isnull().sum()

Checking for duplicates and removing duplicates

In [ ]:
newdf.duplicated().sum()

In [ ]:
newdf.drop_duplicates(inplace=True)

In [ ]:
newdf.info()

In [ ]:
newdf.shape

In [ ]:
newdf.describe()

# Exploratory Analysis
Distribution of Variables

In [ ]:
newdf.columns

In [ ]:
newdf.property_type.value_counts()

In [ ]:
plt.hist(newdf['property_type'])
plt.xticks(rotation= 70)
plt.show()

In [ ]:
newdf.region.value_counts()

In [ ]:
plt.hist(newdf['region'])
plt.xticks(rotation= 70)
plt.show()

In [ ]:
newdf.state.value_counts()

In [ ]:
plt.hist(newdf['state'])
plt.xticks(rotation= 70)
plt.show()

In [ ]:
plt.hist(newdf['area_m2'])
plt.xticks(rotation= 70)
plt.show()

In [ ]:
plt.hist(newdf['price_brl'])
plt.xticks(rotation= 70)
plt.show()

# Data Visualization

Region Vs Price

In [ ]:
region_price = newdf.groupby('region')['price_brl'].mean()
sns.barplot(data=newdf, x= region_price.index,y= region_price, color='r')
plt.title('Region Vs Price')
plt.grid()
plt.show()

We can tell from visualization that The CENTRAL-WEST region has the hisghest pricing for rent.

In [ ]:
state_price = newdf.groupby('state')['price_brl'].mean()
sns.barplot(data=newdf.sort_values(by='state'), x= state_price.index,y= state_price, color='y')
state_price = newdf.groupby('state')['price_brl'].mean()
plt.xticks(rotation= 70)
plt.grid()
plt.title('State Vs Price')
plt.show()

From Visualization we can denote that Minas Gerais has the highest house pricing

In [ ]:
sns.heatmap(newdf[['area_m2','price_brl']].corr(),annot=True,cmap='Reds')
plt.title('Corr Between Area & Price')
plt.show()

There's no strong correlation between Property size on the prices of housing across states in Brasil.

In [ ]:
propety_price = newdf.groupby('property_type')['price_brl'].mean()

In [ ]:
plt.barh(propety_price.index,propety_price)
plt.title('Property Type Vs Price')
plt.show()

In [ ]:
propety_area = newdf.groupby('property_type')['area_m2'].mean()

In [ ]:
plt.barh(propety_area.index,propety_area)
plt.title('Property_type Vs Area')
plt.show()

In [ ]:
area_price = newdf.groupby('area_m2')['price_brl'].mean()
plt.scatter(area_price.index, area_price)
plt.title('Area Vs Price')
plt.show()